@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-gray;
    padding: $base-padding 0;

    h4 {
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }
  }
}
