@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-gray;

    h4 {
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }
  }

  .BoxProdList {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin: 0 15px;

  }

  .BoxFilters {
    display: flex;
    width: 94%;
    height: 100%;
    background-color: ghostwhite;
  }
}
