@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $dark-gray;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $white !important;
    background-color: $primary;
    text-decoration: none;
    @extend %hoverEffects;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $dark-gray;
  color: $dark-gray;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    @extend %hoverEffects;
  }
}

.buttonLeft {
  background-color: $dark-gray;
  color: $white;
  font-size: 28px;
  line-height: 24px;
  padding: 8px 30px;
  width: 50%;
  z-index: 99999;
  text-align: center;
}

.buttonRight {
  background-color: $dark-gray;
  color: $white;
  font-size: 28px;
  line-height: 24px;
  padding: 8px 30px;
  width: 50%;
  z-index: 99999;
  text-align: center;
}
