@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-background;
  color: $button-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-color !important;
    background-color: $primary;
    text-decoration: none;
    @extend %hoverEffects;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 2px;
  border: 1px solid $button-outline;
  color: $button-outline;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $primary;
    border: 1px solid $primary;
    color: $button-text;
    cursor: pointer;
    @extend %hoverEffects;
  }
}

.buttonLeft {
  background-color: $button-background;
  color: $button-color;
  font-size: 28px;
  line-height: 24px;
  padding: 8px 30px;
  width: 50%;
  z-index: 99999;
  text-align: center;
}

.buttonRight {
  background-color: $button-background;
  color: $button-color;
  font-size: 28px;
  line-height: 24px;
  padding: 8px 30px;
  width: 50%;
  z-index: 99999;
  text-align: center;
}
