@import "../../../styles/settings.scss";

@mixin small {
  @media (max-width: 575px) {
    @content;
  }
}

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $list-link;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
          @extend %hoverEffects;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }

    @include small {
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {

    .topOptions {
      display: flex;
      flex: 8;

      ul li {
        margin-left: 12px;
      }
    }

    .topMenu {
      display: flex;
      flex: 4;

      ul li {
        margin-left: 1.3rem;
      }
    }

    .topOptions, .topMenu {
      padding: 0;
    }

    .topOptions ul li {
      margin-right: 0.1rem;

      .icon {
        margin-left: 0;
      }
    }

    .topMenu ul li a a { 
      display: none;     
    }
  }
}
