/* BASE COLOURS - DO NOT USE IN OTHER FILES */
$light-gray: #434343;
$ligh-gray2: rgb(169, 169, 169);
$gray: #363636;
$gray2: rgb(42, 42, 42);
$gray3: #292929;
$gray-5:	#b6b6b6;
$gray-6:	#a9a9a9;
$gray-7:	#434343;
$gray-8:	#363636;
$gray-9:	#292929;
$dark-gray: #2a2a2a;
$orange: #d58e32;
$white: #ffffff;
$white2: #e1e1e1;
$white3: #f4f5f7;
$white4: #e2e2e2;
$white5: #e1e1e1;
$white6: rgb(216, 216, 216);
$white7: rgb(224, 227, 237);
$ivory: #b6b6b6;
$black-transaprent: rgba(1, 2, 2, 0.2);
$transparent: transparent;
$darkGray: #2a2a2a;
$black: #292929;

/* COMPONENT COLOURS - for use in other files */
$form-border-color: $black;

$header-topbar-bg: $light-gray;
$header-bg: $gray;

$footer-claim-bg: $dark-gray;
$footer-bg: $gray;

$primary: $orange;

$text-color: $dark-gray;

$form-border-color: $gray3;

$button-text: $white;
$button-background: $dark-gray;
$button-outline: $dark-gray;
$button-bg:	$dark-gray;
$button-color: $white;

$feature-box-border: $ivory;
$feature-box-background: $white;
$feature-box-color: $gray2;
$feature-box-color-active: $white;
$feature-border-color:	$gray-5;
$feature-dots-color:	$gray3;
$feature-bg:	$white;

$product-box-color: $transparent;
$product-box-border: $white2;
$photo-color: $transparent;

$sale-color: $white;
$sale-background: $gray3;
$sale-stars: $gray2;

$root-line: $dark-gray;

$panelBar-border: $white4;

$menu-link: $gray2;
$menu-link-border: $white;
$menu-link-active: $white;

$nav-hover: $ivory;

$dots-list: $white;
$dots-list-link: $white5;

$phone-number: $white6;

$cartBox-color: $white;
$cartBox-counter: $white7;

$footer-wrapper-h6: $white;
$footer-wrapper-li-a: $white;
$footer-copyright-color: $ligh-gray2;
$footer-socialMedia-color: $ligh-gray2;

$box-shadow: $black-transaprent;

$list-link: $white;

/* Paddings */
$base-padding: 24px;

/* HOVER EFFECTS */

%hoverEffects {
  transition: 2500ms;
  transform: translate(0px, -10px);
}
