@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;
  bottom: 0px;
  margin-bottom: 0;
  max-height: 300px;
  position: sticky;
  z-index: 99;


  .text {
    color: $primary;
  }

  .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>* {
      font-weight: bold;
    }
  }

  .rowWrapper {
    padding-top: 10px;
    height: 100%;
  }
  .colWrapper:hover {
    opacity: 0.9;
    .close {
      opacity: 1;
    }
  }

  .imageWrapper {
    position: relative;
    padding: 85% 10px 0 10px;
    max-height: 200px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    // height: 100%;
    object-fit: cover;
  }

  .close {
    position: absolute;
    right: 22px;
    top: 6px;
    width: 32px;
    height: 32px;
    opacity: 0;
    cursor: pointer;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 4px;
    background-color: $primary;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .btnWrapper {
    padding-left: 42px;
    display: flex;
    align-items: center;
  }

  .btn {
    text-decoration: none;

    &:hover {
      background-color: $primary;
    }
  }
}
