@import "../../../styles/settings.scss";
@import "../Button/Button.module.scss";

.root {
  background-color: $promoted-background-color;
  border: 1px solid $promoted-border-color;
  margin-bottom: 2rem;
  height: 10px;

  .photo {
    position: relative;
    padding: 60% 10px 0 10px;
    background: {
      color: $promoted-text-color3;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
    }

    .buttons {
      justify-content: space-between;
      position: absolute;
      top: 58%;
      left: 38%;
    }

    .buttonCenter {
      justify-content: space-between;
      position: absolute;
      background-color: $promoted-background-color;
      color: $promoted-text-color5;
      width: 150px;
      z-index: 999;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      padding: 10px 30px;
      text-decoration: none;
    }
  }

  .content {
    text-align: center;
    padding: 40px;
    position: absolute;
    width: 100%;
    top: 23%;
    left: 0;
    background-color: $promoted-background-color6;

    h1 {
      color: $promoted-text-color2;
      letter-spacing: 1px;
      font-weight: 300;

      span {
        font-weight: 600;
      }
    }

    p {
      color: $promoted-text-color2;
      line-height: 24px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonSliderLeft {
      position: absolute;
      left: 0;
      bottom: 0;

      &:hover {
        background-color: $primary;
        text-decoration: none;
        color: $promoted-text-color2;
      }
    }

    .buttonSliderRight {
      position: absolute;
      right: 0;
      bottom: 0;

      &:hover {
        background-color: $primary;
        text-decoration: none;
        color: $promoted-text-color2;
      }
    }
  }
}
