@import "../../../styles/settings.scss";

.rightSide {
  margin: 2rem 0;
  position: relative;

  .rightSidePhoto {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0 8px;
    }

    .rightSideStripe {
      background-color: $form-border-color;
      opacity: 0.7;
      padding: 40px 0;
      margin-top: 148px;
      color: white;
      text-align: center;

      .rightSideStripeTextBig {
        font-size: 40px;
      }

      .rightSideStripeTextSmall {
        font-size: 16px;
      }
    }
  }

  .buttonShop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    position: relative;
  }

  .buttonShopNow {
    background-color: white;
    border-radius: 5px;
    border-color: white;
    font-size: 16px;
    color: $form-border-color;
    padding: 8px 16px;
  }

  .arrows {
    display: inline-flex;
    height: 36px;
    margin-top: 92px;
  }

  .arrowShadow {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
    margin-top: 2px;
  }

  .arrow {
    position: relative;
    display: inline-flex;
    background-color: $form-border-color;
    width: 386px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $primary;
    }
  }

  .leftArrow,
  .rightArrow {
    margin-left: -14px;
    margin-top: 1px;
  }
}
