@import "../../../styles/settings.scss";

@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 575px) {
    @content;
  }
}

.root {
  border: 1px solid $form-border-color;
  display: flex;
  height: 45px;
  color: $text-color;
  margin-right: 10%;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 14px;
    width: 50%;

    ul {
      position: absolute;
      width: 100%;
      height: 100%;
      list-style: none;
      padding-left: 0;
      li {
        padding-top: 12px;
        padding-left: 20%;
        display: none;
        width:100%;
      }
      li:first-child {
        display: block;
      }
    }


    .icon {
      position: absolute;
      top: 33%;
      z-index: 8;
    }

    .icon:first-child {
      color: $primary;
      left: 15px;

    }

    .icon:last-child {
      z-index: 0;
      right: 15px;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      outline: transparent;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 48%;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

.root:hover {
  border: 1px solid $primary;

  .category {
    border-right: 1px solid $primary;
  }

  .category:hover {
    ul {
      li{
        display: block;
        position: relative;
        height: 45px;
        background-color: white;
        z-index: 1;

        .childUl li {
          display: none;
        }
      }
    }
    .parentUl li:hover{
      background-color: $nav-hover;
      .childUl{
        z-index: 100;
        list-style: none;
        padding-left: 0;
        left: 100%;

        top: 0;
        li{
          display: block;

        }
      }
    }
    .icon:last-child {
      transform: scale(1.2);
    }
  }

  .searchField:hover {

    button {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1200px) {
  .root {
    margin-right: 15px;
  }
}



@media (max-width: 483px) {
  .root {
    .category {
      border-right: 0;
    }

    .searchField {
      border-top: 1px solid $form-border-color;
    }
  }

  .root:hover {
    .category {
      border-right: 0;
    }

    .searchField {
      border-top: 1px solid $primary;
    }
  }
}
