@import "../../../styles/settings.scss";

.stars {
  p {
    display: inline;
    color: $productbox-stars-color;
  }

  &_customStars {
    p {
      color: $productbox-customStars-color;
    }
  }
}
