@import "../../../styles/settings.scss";

.root {
  .feedbackBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $white2;
    }

    .feedbackHeading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        border-bottom: 4px solid #e1e1e1;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $white;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          //noinspection ALL
          div {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .feedbackLine {
    justify-content: center;
    align-content: center;
    display: flex;

    .feedbackBox {
      display: flex;
      padding: 10px 50px 25px 50px;
      margin: 20px 50px 50px 50px;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      max-width: 55%;

      .icon {
        height: 25px;
        width: 25px;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 30px;

        .img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }


      .opinion {
        font-style: italic;
        font-size: 14px;
        text-align: center;
        padding: 0 120px;
        margin-bottom: 24px;
      }

      .client_name {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 25px;


        .imageBox {
          height: 130px;
          width: 130px;
          display: flex;
          align-content: center;
          justify-content: center;
          margin-right: 30px;

          .client_image {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }


  .fadeout {
    opacity: 0;
    transition: 0.5s;
  }

  .fadein {
    transition: 0.5s;
  }
}

